:root {
    --bg-color: #d9e1e1;
    --dark-transparent: rgba(0, 0, 0, 0.54);
    --accent-color: #7ba9a9;
    --text-title: #485b5b;
    --card-header: #7ba9a9b0;
}

body.bg-custom {
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, sans-serif;
    overflow-x: hidden;
}

/* --- HEADER E NAVBAR --- */
.bg-header-custom {
    background-color: #0000008A !important;
    position: relative;
    transition: all 0.3s ease;
}

.my-nav-container {
    min-height: 60px;
}

/* Efeito Hover nos Links (Fica Preto) */
.nav-link {
    color: white !important;
    font-weight: 200;
    transition: 0.3s;
}

.nav-link:hover {
    color: #000000 !important;
    font-weight: 500;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: none;
}

/* Pinguim saindo da barra */
.pinguinzito {
    height: 100px;
    position: absolute;
    top: -40px;
    left: 10px;
    z-index: 100;
    animation: headTilt 3s ease-in-out infinite alternate;
}

@keyframes headTilt {
    from { transform: rotate(-5deg); }
    to { transform: rotate(5deg); }
}

/* Correção arredondamento Mobile */
@media (max-width: 991.98px) {
    .my-nav-container.rounded-pill {
        border-radius: 25px !important;
    }
    .navbar-toggler-icon { filter: invert(1); }
}

/* --- GRID E CARDS --- */
.day-card {
    background-color: var(--dark-transparent) !important;
    border-radius: 15px !important;
    min-height: 380px;
}

.day-header {
    background-color: var(--card-header) !important;
    border-radius: 8px !important;
}

.day-header h5 {
    font-size: 1rem;
    font-weight: 600;
}

/* Ajuste fino para 7 colunas não apertarem demais */
@media (min-width: 992px) {
    .row-cols-lg-7 > .col {
        width: 14.285%; /* Divide 100% por 7 */
    }
    .day-header h5 { font-size: 0.85rem; }
}

.color-text-title {
    color: var(--text-title);
}

.btn-add-meta {
    background-color: rgba(217, 225, 225, 0.4) !important;
    border: none;
    color: #f5f0ea;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 8px;
}

.btn-add-meta:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Estilo das Metas */
.meta {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f5f0ea;
    margin-bottom: 5px;
}

.meta h1 {
    font-size: 14px;
    margin: 0;
    word-break: break-all;
}
