body {
    background-color: #d9e1e1;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo{
    width: 100%;
    height: 15%;
    background-color: #d9e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #181818;
}
.politic{
    width: 100%;
    height: 65%;
    background-color: #d9e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.politic p{
    margin: 50px;
    text-align: justify;
    text-justify: inter-word; 
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #181818;
}
.partInfrior{
    width: 100%;
    height: 20%;
    background-color:#d9e1e1;
}
.button{
    width: 18%;
    height: 60%;
    background-color: #d9e1e15e;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;;
}
.btn-seta {
    background-color: #bfc4c6;
    border: black 2px solid;
    width: 60%;
    height: 100%;
    border-radius: 40px;
    font-size: 22px;
    cursor: pointer;
}
.btn-seta:hover {
    background-color: #d0d5d7;
}